<div class="">
  {{#each songs}}
  <div>
    <h3>{{name}} ({{album.year}})</h3>
    Performed by {{artist}} on the album {{album.name}}
  </div>
  <div class="row">
    <div class="col-sm-12">
      <a href="#" id="edit#{{key}}">Edit</a> | 
      <a href="#" id="delete#{{key}}">Delete</a>
    </div>
  </div>
  {{/each}}
</div>
